body {
    background-color: lightgray;
}

.cardComponent {
    display: flex;
    flex-direction: row;
    width: 322px;
    height: 126px;
    background-color: #ffffff;
    box-shadow: 1px 1px 1px 1px #c3c3c3;
    border-radius: 7px;
    align-items: flex;

    margin-top: 24px;
    margin-left: 24px;
}

.imgPart {
    margin-top: 30px;
    margin-left: 25px;
}
.issueImage {
    width: 64px;
    height: 64px;
}

.contentPart {
    margin-top: 30px;
    margin-left: 15px;
    line-height: 0;
}

.cardTitle {
    margin-top: 20px;
    font-size: 15px;
    color: gray;
    /* text-align: center; */
}

.amountContent{
    font-size: 25px;
    color: #000000;
    font-weight: bold;
    /* text-align: center; */
}