body {
    background-color: lightgray;
}

.sideProfileContent {
    float: left;
    width: 200px;
    height: 230px;
    background-color: #ffffff;
    text-align: center;
    padding-top: 35px;
}

.userName {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
}

.rmndPeriod {
    font-size: 12px;
    color: #8f8f8f;
}

.followInfoArea{
    width: 90%;
    display: flex;
}

.followerCnt {
    flex:1;
    width:30%;
    font-weight: bold;
    box-sizing: border-box;
}

.followerText{
    flex:1;
    color: #8f8f8f;
    font-size: 12px;
    margin: 17px 0px;
    width:30%;
    box-sizing: border-box;
}

.followingCnt{
    flex:1;
    width:30%;
    font-weight: bold;
    box-sizing: border-box;
}

.followingText {
    flex:1;
    width:30%;
    margin: 17px 0px;
    font-size: 12px;
    color: #8f8f8f;
    box-sizing: border-box;
}


