@charset "urf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

body{
    background-color: blanchedalmond
}

.property_card{
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    width: 232px;
    height: 120px;
    box-shadow: 5px 5px 8px #B2B2B229;
    border-radius: 6px;
    opacity: 1;

}

.ticker{
    font-size: 14px;
    margin-left: 18px;
    margin-top: 16px;
    width: fit-content;
    height: 20px;
    opacity: 1;
}

.point{
    font-size: 14px;
    margin-left: 12px;
    margin-right: 81px;
    margin-top: 16px;
    color: red;

    opacity: 1;
}

.amount{
    font-size: 26px;
    font-weight: bold;
    color: #5E5E5E;
    margin-top: 6px;
    margin-left: 18px;
    opacity: 1;
}

.price{
    font-size: 14px;
    color: #A2A2A2;
    margin-left: 18px;
    margin-bottom: 20px;
    opacity: 1;
}